[Unit]
Description={{ pomerium_service_name }}
Wants=network-online.target
After=network-online.target

[Service]
User={{ pomerium_user_name }}
Group={{ pomerium_group_name }}
Restart=on-failure
Type=simple
PrivateTmp=true
ExecStart={{ local_bin_path }}/pomerium \
                               -config /etc/pomerium/config.yaml

[Install]
WantedBy=multi-user.target
